body {
    padding-top: 70px;
}

.navbar-brand {
    padding: 10px 15px;
}
.navbar-logo {
    height: 30px;
}
.navbar-lang {
    height: 18px;
}

.page-footer {
    margin-top: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}
.footer-text {
    margin: 0;
    line-height: 50px;
}
